{% extends 'base.html' %}

{% load static from static %}
{% block content %}

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Oslo United Company</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link active" aria="page" href="{% url 'catelogueapp:category'%}"> Back to Catalogue!</a>
            </li>
            
          </ul>
          <form class="d-flex">
            {% if request.user.is_authenticated %}
                <span class="m-auto">Hello, {{request.user.username}}</span> 
            <a class="nav-link active" aria="page" href="/logout"> Logout</a>

            {% else %}
                <a class="nav-link active" aria="page" href="/login"> Login</a>
            {% endif %}

            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

<main>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{catelogue.title}}</h1>

    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col">
            <div class="card shadow-sm">
              <img class="rounded-lg-3" src="{{product.thumb.url}}" alt="" width="100%" height="225">


              <div class="card-body">
                <p class="card-text">{{product.title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">&#8358;{{product.price}}</button>
                  </div>
                  {% if request.user.is_authenticated %}
                      <small class="text-muted"> <a href="/catelogue/edit/product/{{post.id}}">Edit </a></small>
                  {% else %}
                      <small class="text-muted">by Admin</small>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>
      


    </div>
  </div>
</div>


  {% endblock%}